{% extends "CountryApp/base.html" %} {% block content %}
<div class="container" align="center">
  <h1>About INDIA</h1>

  <p>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat dicta
    delectus culpa iusto, nisi reprehenderit velit quidem odit totam minima
    sapiente possimus iste consequuntur? Alias natus laboriosam nam accusantium
    numquam inventore minima harum doloremque laborum, mollitia blanditiis odio
    cupiditate. Laboriosam ipsam dignissimos vero velit inventore nostrum
    impedit facere eum doloribus? Dicta expedita beatae veritatis architecto
    inventore nam, quia sit! Quod ad facilis omnis accusantium commodi cumque,
    sed vitae beatae eum exercitationem ab ex. Deleniti animi corporis
    dignissimos, mollitia molestias quae nobis, unde eius non optio, enim culpa
    aperiam. Saepe deserunt ut molestiae iste. Porro aperiam laborum dicta harum
    placeat quaerat.
  </p>
  <div class="images_slider text-center">
    <div class="container d-flex flex-wrap justify-content-center gap-3 ml-3">
      {% for i in all_records %}
      <div class="card" style="width: 18rem">
        <div class="text-center">
          <img
            src="{{ i.i_pic.url }}"
            class="card-img-top"
            height="200px"
            width="200px"
            alt="profileimage"
          />
        </div>
        <div class="card-body">
          <h5 class="card-title">{{ i.i_name }}</h5>
          <p class="card-text">{{ i.i_desc }}</p>
          <div class="text-center ta">
            <a href="#" class="btn btn-danger">Click Here</a>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
