
{% extends "ORBApp/base.html" %}

{% block title %}
Profile Summary
{% endblock %}

{% block content %}


<div class="container" align="center">
    <h2>Profile Summary</h2>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table>
            <tr>
                <th>{{ form.summary.label }}</th>
                <td>{{ form.summary }}</td>
            </tr>
            <tr>
                <td>
                    <a href="{% url 'personal_info' %}" class="btn btn-primary ">Back</a>
                </td>
                <td>
                    <a href="{% url 'experience' %}" class="btn btn-primary ">Next</a>
                </td>
            </tr>
        </table>
    </form>
</div>

{% endblock %}


